/* Fonts */

/* oswald-500 - latin_cyrillic */
@font-face {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 500;
    src: local(''),
         url('../fonts/oswald-v48-latin_cyrillic-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/oswald-v48-latin_cyrillic-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

  /* montserrat-regular - latin_cyrillic */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('../fonts/montserrat-v24-latin_cyrillic-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/montserrat-v24-latin_cyrillic-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* montserrat-500 - latin_cyrillic */
  @font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    src: local(''),
         url('../fonts/montserrat-v24-latin_cyrillic-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/montserrat-v24-latin_cyrillic-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

  /* Common */

  * {
    box-sizing: border-box;
  }

body {
  margin: 0;
}

  .container {
    width: 1278px;
    margin: 0 auto;
  }

.btn {
  display: inline-block;
  background: #FFFFFF;
  border: 2px solid #FFFFFF;
  color: #000;
  border-radius: 4px;
  padding: 8px 41px;
  font-family: 'Montserrat', serif;
  font-weight: 500;
  font-size: 26px;
  line-height: 30px;
  text-decoration: none;
}

.btn-transparent {
  display: block;
  max-width: 505px;
  padding: 8px 20px;
  background-color: rgba(0, 0, 0, 0);
  border: 3px solid #060D10;
  border-radius: 4px;
  text-align: center;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0));

}

/* Header */

.header {
  padding: 40px 0;
  background-color: #66D1FF;
}

.header-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-btn {
  font-family: 'Montserrat', serif;
  font-size: 24px;
}
.header-phone {
  font-family: 'Montserrat', serif;
  font-size: 28px;
}

/* Promo */

.promo {
  text-align: center;
  background-image: url(../images/promo.jpg);
  background-color: lightblue;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

}

.promo-fade {
  padding: 240px 0;
  background-color: rgb(6, 13, 16, .2);

}

.promo-title {
  font-family: 'Oswald', serif;
  font-size: 60px;
  text-align: center;
  line-height: 89px;
  color: #FFFFFF;
  text-transform: uppercase;
  text-shadow: 1px 1px 2px #060D10;
}

.promo-text {
  font-family: 'Montserrat', serif;
  font-size: 32px;
  text-align: center;
  line-height: 39px;
  color: #FFFFFF;
  text-shadow: 1px 1px 2px #060D10
}

/* Options */

.options {
  background-color: rgb(102, 209, 255, .1);
}

.options.wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.options-item {
  display: inline-block;
  width: 33%;
  padding: 0 15px;
}

.options-card {
  display: flex;
  flex-direction: column;
}

.options-title {
  font-family: 'Oswald', serif;
  font-size: 48px;
  font-weight: 500;
  line-height: 167%;
  text-align: center;
  text-transform: uppercase;
  margin-top: 0;
  padding-top: 170px;
  padding-bottom: 100px;

}

.options-headline {
  font-family: 'Oswald', serif;
  font-family: 32px;
  font-weight: 500;
  font-size: 32px;
  line-height: 167%;
  text-transform: uppercase;
}

.options-text {
  font-family: 'Montserrat', serif;
  font-family: 26px;
  font-weight: 400;
  font-size: 26px;
  line-height: 140%;
  mix-blend-mode: normal;
  opacity: 0.8;
}

/* Lead */


.lead {
  background: linear-gradient(208.35deg, rgb(102, 209, 255, .1) 43.85%, rgba(196, 196, 196, 0) 43.86%);
  padding-top: 170px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.lead-info {
  display: flex;
  flex-direction: column;
  padding-top: 170px;
  padding-bottom: 130px;
}

.lead-title {
  font-family: 'Oswald', serif;
  font-size: 48px;
  font-weight: 500;
  line-height: 167%;
  text-align: center;
  text-transform: uppercase;
}

.lead-visual {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 10px;
  padding-bottom: 170px;
}

.lead-pic {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.lead-btn {
  font-family: 'Montserrat', serif;
  font-size: 36px;
  line-height: 44px;
  align-items: center;
  text-align: center;
}

/* Footer */

.footer {
  padding: 40px 0;
  background-color: #060D10;
}

.footer-wrap {
  display: flex;
  align-items: center;
}

.social {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.social-item {
  margin-left: 20px;
}

.footer-text {
  font-family: 'Montserrat', serif;
  color: #fff;
  font-size: 20px;
  line-height: 33px;
}

.copyright {
  font-family: 'Montserrat', serif;
  color: #fff;
  font-size: 20px;
  line-height: 33px;
  margin: 0;
  color: #fff;
  opacity: .8;
}
